body
{
  margin: 0;/*убираем белые полосы слева и справа*/
  font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif; /*шрифт из ГУГЛ*/
}
.container
{
  margin: 0 166px; /*отступы сверху и снизу, справа и слева по 166*/
}
.header
{
  background-image: url(bg.jpg); /*фоновая картинка*/
  height: 100vh; /*высота картинки,vh - значит, что наш блок будет растягиваться на всю высоту экрана*/
  background-repeat: no-repeat;/*позволяет не повторять изображения*/
  background-size: cover;/*означает, что картинка будет растягиваться на весь экран*/
}
.header-line /*двигает лого вниз, и все наше меню подвинулось*/
{
  padding-top: 50px; /*внутренний отступ*/
  display: flex; /*все элементы располагаются в линию друг за другом*/
  align-items: center; /*выравниваем элементы по линии*/
}
.nav-item /*работаем с сылками меню*/
{
  color: aliceblue;
  text-decoration: none; /*убираем подчеркивание*/
  font-weight: 700; /*данные берутся в Figma раздел Typography*/
  font-size: 14px;

  margin-right: 25px; /*расстояние между элементами*/
}
.cart /*делаем границу справа*/
{
  position: relative; /*общий cart будет родителем для нашей маленькой корзинки*/
border-right: 1px solid #FFFFFF; /*копируем из раздела borders figma (12:10)*/
padding-right: 10px; /*отодвигаем нашу палочку от корзины*/
height: 50px;
}
.cart-img /*этот класс добавлен в селлекто img чтобы чтобы можно было управлять корзинкой*/
{
position: absolute; /*корзинка располагается как угодно и не будет ни от кого зависеть*/
top: 18px; /*отступ сверху*/
right: 7px; /*сдвигает корзинку вправо, т.к она залезала на черту*/
}
