body
{
  margin: 0;/*убираем белые полосы слева и справа*/
  font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif; /*шрифт из ГУГЛ*/
}
.container
{
  margin: 0 166px; /*отступы сверху и снизу, справа и слева по 166*/
}
.header
{
  background-image: url(bg.jpg); /*фоновая картинка*/
  height: 100vh; /*высота картинки,vh - значит, что наш блок будет растягиваться на всю высоту экрана*/
  background-repeat: no-repeat;/*позволяет не повторять изображения*/
  background-size: cover;/*означает, что картинка будет растягиваться на весь экран*/
}
.header-line /*двигает лого вниз, и все наше меню подвинулось*/
{
  padding-top: 50px; /*внутренний отступ*/
  display: flex; /*все элементы располагаются в линию друг за другом*/
  align-items: center; /*выравниваем элементы по линии*/
  justify-content: space-around; /*наши элементы располагаются на небольшом расстоянии друг от друга*/
}
.nav-item /*работаем с сылками меню*/
{
  color: aliceblue;
  text-decoration: none; /*убираем подчеркивание*/
  font-weight: 700; /*данные берутся в Figma раздел Typography*/
  font-size: 14px;

  margin-right: 25px; /*расстояние между элементами*/

  transition: color 0.3s linear; /*делает плавность изменения цвета элемента при наведении на нее*/
}
.nav-item:hover /*все, что будет указано в этих фигурных скобках будет происходить в том момент, когда будем наводить мышку на элементы*/
{
color: #FF7400;
}
.cart /*делаем границу справа*/
{
  position: relative; /*общий cart будет родителем для нашей маленькой корзинки*/
border-right: 1px solid #FFFFFF; /*копируем из раздела borders figma (12:10)*/
padding-right: 10px; /*отодвигаем нашу палочку от корзины*/
height: 50px;
}
.cart-img /*этот класс добавлен в селлекто img чтобы чтобы можно было управлять корзинкой*/
{
position: absolute; /*корзинка располагается как угодно и не будет ни от кого зависеть*/
top: 18px; /*отступ сверху*/
right: 7px; /*сдвигает корзинку вправо, т.к она залезала на черту*/
}
.num /* номер телефона. добавлен класс в класс "number"*/
{
color: aliceblue;
text-decoration: none;
font-weight: 700;
font-size: 18px;
}
.num:hover
{
  transition: color 0.3s linear;
  color: #FF7400;
}
.phone-text /*текст под номером телефона*/
{
  font-size: 14px;
  font-weight: 400;
  color: aliceblue;
}
.phone-holder /*здесь объеденены классы phone-img , number*/
{
  display: flex;
  align-items:center;
}
.button /*заказ столика кнопка. добавлен в класс btn*/
{
  background-color:#FF7400;
  color: aliceblue; 
  text-decoration: none;
  padding: 14px 19px;
  font-weight: 700;
  transition: background-color: 0.2s linear;
}
.button:hover
{
    background-color: #D67E35
}
.header-down
{
  position: relative;/*становится родителем для header-title*/
}
.header-title
{
  color: #D67E35;
  font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-weight: 400;
    
    text-align: center;/*выравнивает текст по середине*/
    position: absolute; /*свободное расположение*/
    left: 0;

    margin-top: 222px; /*отступ сверху : данные берутся из Фигма*/
    margin-bottom: 12px;
}
.header-suptitle
{
  font-size: 18px;
  color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}
/*делаем черточки слева и справа от ДОМ ЛУЧШЕЙ ЕДЫ*/
.header-suptitle:after 
{
position: absolute;
content:''; /*оставляем пустым, чтобы сделать линии*/
height: 2px; /*высота линий*/
width: 61px;
background-color:#fff;
top: 127px;
left: 60px;
}
.header-suptitle:before { /*делаем полоску справа*/
  position: absolute;
  content: '';
  /*оставляем пустым, чтобы сделать линии*/
  height: 2px;
  /*высота линий*/
  width: 61px;
  background-color: #fff;
  top: 127px;
  left: 307px;
}
.header-button /*кнопка view menu*/
{
background-color:#FF7400;
padding: 14px 28px;
color: #fff;
font-size: 14px;
font-weight: 700;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
transition: background-color 0.3s linear ;
}
.header-button:hover
{
  background-color: #9e571e;
}
.card 
{
  background-color: rgb(181, 176, 176);
}
.card-image
{

  display: flex;
  justify-content: center;
}
.card-title
{
  display: flex;
  justify-content: center;
}
.card-desc
{
  display: flex;
  justify-content: center;
}