body
{
  margin: 0;/*убираем белые полосы слева и справа*/
}
.container
{
  margin: 0 166px; /*отступы сверху и снизу, справа и слева по 166*/
}
.header
{
  background-image: url(bg.jpg); /*фоновая картинка*/
  height: 100vh; /*высота картинки,vh - значит, что наш блок будет растягиваться на всю высоту экрана*/
  background-repeat: no-repeat;/*позволяет не повторять изображения*/
  background-size: cover;/*означает, что картинка будет растягиваться на весь экран*/
}
